@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindx!</h1>
    <div>
        <a asp-action="Index">Clique aqui para tela inicial de cadastro</a>
    </div>
</div>
