@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindx!</h1>
    <div>
        <a asp-controller="Usuarios" asp-action="Index">Ir para a página de cadastros</a>
    </div>
</div>
